PORT=4000
APP_BASE_URL=http://localhost:4000
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=learning
KEYCLOAK_CLIENT_ID=node-pkce-app
SESSION_SECRET=change-me-in-real-life
API_URL=http://localhost:8081
